body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("/background.png") no-repeat center center;
  background-size: cover;
  filter: blur(0px);
  opacity: 0.05;
  transform: scale(1.05);
}
